psutil
cryptography
requests
pypiwin32
wmi
requests-toolbelt
colorama
pyinstaller
cx-Freeze
pyuac
pillow
pycryptodomex
customtkinter
httpx
pyperclip
asyncio
winregistry
pypiwin32==223
pycryptodome
pyinstaller&gt;=5.0
PIL-tools
threaded
datetime
pyfiglet
tqdm
pypresence
opencv-python
tqdm
pyfiglet
argparse
